@{
    ViewBag.Title = "Home Page";
}

@model FRCMatchNotifications.Models.HomeModel
@if (String.IsNullOrEmpty(Model.number) && String.IsNullOrEmpty(Model.team))
{
    <div class="jumbotron">
        <h1>FRC Notifications</h1>
        <p class="lead">Want to get near-realtime notifications for your favorite FRC team(s)? Enter your phone number and the team you want to follow below, and you'll get notifications when their matches start and end.</p>
    </div>

    <div class="row">
        <div class="col">

            <form id="frmMain" method="post">
                <div class="form-group">
                    <label for="txtPhoneNumber">Phone Number</label>
                    <input type="tel" class="form-control" id="txtPhoneNumber" aria-describedby="phoneHelp" placeholder="Enter phone number">
                    <small id="phoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="txtTeamNumber">Team Number</label>
                    <input type="text" class="form-control" id="txtTeamNumber" placeholder="Enter team number">
                </div>
                <button type="submit" class="btn btn-primary">Send me notifications!</button>
            </form>

        </div>
    </div>
}
else if ((!String.IsNullOrEmpty(Model.number) && String.IsNullOrEmpty(Model.team)) || (String.IsNullOrEmpty(Model.number) && !String.IsNullOrEmpty(Model.team)))
{
    <h1>Todo: implement warning that something went wrong</h1>
}
else
{
    <div class="row">
        <div class="col">
            <h1>Congratulations, you've signed up for some awesome FRC notifications. I'm sure team @Model.team appreciates your support.</h1>
        </div>
    </div>
}